---
import { Image, Title, Text, ButtonGroup } from "@components/index"

interface Props {
	title?: string
	titleTag?: string
	text: string
	buttons?: any
	image: ImageMetadata
	position?: string
	class?: string
}

const {
	title,
	titleTag = "h2",
	text,
	buttons,
	image,
	position = "default",
	class: className
} = Astro.props
---

<div
	class:list={[
		"c-split",
		{ "c-split--reversed": position === "reversed" },
		className
	]}
>
	<div class="c-split__left">
		<Image
			src={image}
			alt="this is a split image"
			sizes={`(max-width: 768px) 100vw, 20vw`}
		/>
	</div>

	<div class="c-split__right">
		<Title text={title} Tag={titleTag} />

		<Text text={text} />

		<ButtonGroup buttons={buttons} />
	</div>

	<style is:global lang="scss">
		.c-split {
			display: grid;
			grid-template-columns: 1fr 1fr;

			&__right {
				display: flex;
				flex-direction: column;
				justify-content: center;
				gap: var(--space-32);
				padding-right: var(--space-64);
			}

			&__left {
				display: flex;
				position: relative;
				justify-content: flex-start;

				.c-picture {
					width: 100%;
					z-index: 10;

					&__image {
						height: 100%;
					}
				}

				&::after {
					content: "";
					position: absolute;
					top: 25%;
					right: 10%;
					height: 350px;
					width: 50vw;
					border-top-right-radius: var(--border-radius-200);
					border-bottom-right-radius: var(--border-radius-200);
					background-color: var(--scheme-accent);
				}
			}

			&--reversed {
				.c-split {
					&__left {
						order: 2;
						justify-content: flex-end;

						&::after {
							left: 25%;
							right: unset;
							transform: scaleX(-1);
						}
					}
				}
			}
		}
	</style>
</div>
